@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: rgb(163, 177, 40, 69);
    display: flex;
    justify-content: center;
}

.container { 
    width: 600px;
    height: 750px;
    padding: 10px;
    background-color: rgb(126, 134, 53, 53);
    color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

.container .titulo{
    padding: 10px;
}

.img {
    width: 567px;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
}

.containerSub {
    font-style: normal;
    width: 600px;
    height: auto;
    padding: 10px;
    background-color: rgb(126, 134, 53, 53);
    color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

h3, li{
    text-align: justify;
    font-size: 17px;
    font-weight: 200;
}

h2{
    text-align: center;
}



.button {
    text-align: center;
    width: 500px; 
    height: 40px; 
    background-color: rgb(168,230,0,90); 
    color: #fff; 
    margin-top: 40px;
    border: none; 
    cursor: pointer; 
    border-radius: 12px;
}

.button:hover {
    background-color: rgb(54,60,40,23); 
}